/* Margin */

.mt5 {margin-top: 5px!important}
.mt10 {margin-top: 10px!important}
.mt15 {margin-top: 15px!important}
.mt20 {margin-top: 20px!important}
.mt50 {margin-top: 50px!important}
.mb5 {margin-bottom: 5px!important}
.mb10 {margin-bottom: 10px!important}
.mb15 {margin-bottom: 15px!important}
.mb20 {margin-bottom: 20px!important}
.mb50 {margin-bottom: 50px!important}
.mr10 {margin-right: 10px!important}

/* Colors */
.color1 {background-color: #2A3482}
.color2 {background-color: #45839E}
.color3 {background-color: #549CBB}
.color4 {background-color: #091B2C}
.color5 {background-color: #F2AD72}
.color6 {background-color: #fcaf4f}
.font-bold {font-size: larger;font-weight: 500;}

.status-color1 {background-color: #3EDC81}
.status-color2 {background-color: #F39C12}
.status-color3 {background-color: #D73C2C}
/* label color */
/* .input-field label {
  color: #3f51b5;
} */
/* label focus color */
.input-field input[type=text]:focus + label, input[type=password]:focus + label {
  color: #3f51b5;
}
/* label underline focus color */
.input-field input[type=text]:focus, input[type=password]:focus {
  border-bottom: 1px solid #3f51b5;
  box-shadow: 0 1px 0 0 #3f51b5;
}
/* valid color */
.input-field input[type=text].valid, input[type=password].valid {
  border-bottom: 1px solid #3f51b5;
  box-shadow: 0 1px 0 0 #3f51b5;
}
/* invalid color */
.input-field input[type=text].invalid, input[type=password].invalid {
  border-bottom: 1px solid #D73C2C;
  box-shadow: 0 1px 0 0 #D73C2C;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #3f51b5;
}
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #3f51b5;
  -webkit-box-shadow: 0 1px 0 0 #3f51b5;
          box-shadow: 0 1px 0 0 #3f51b5;
}
input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #3f51b5;
}
.input-field .prefix.active {
  color: #3f51b5;
}
.home-card-pancho {height: 175px}
/* .home-card {height: 300px} */

.header-logo-img {
  width: 34px;
  margin: 15px 15px 15px 50px;
}
.home-card-img {
  width: 125px !important;
  padding: 30px !important;
  float: right;
}
.home-card-content {
  margin-top: 15px;
  height: 130px;
}
.login-form-card {
  display: inline-block;
  padding: 32px 50px 20px;
  border: 1px solid #EEE
}